extends base.pug

block Scripts
    script(src='/static/index.js')




block style 
    style 
        include ../static/style.css
        include ../static/about.css

block content 
    div.container
        h1 About Us

        div.container2
            img(src="/static/img/dance.jpg", alt="Sponsors Image" class="spImage")

        div.container3
            p The Dance Academy opened its doors in Severna Park in 1993 and has been providing the highest caliber ballet, jazz, contemporary, tap, acro and hip hop dance instruction in the Mid-Atlantic Region ever since. Our highly trained and caring faculty provide instruction for beginning through pre-professional level students of all ages.<br>
            <br>
            <br>

            p We take great pride in the extensive training and experience of our faculty members as both teachers and professional dancers. Our classes provide personalized and focused instruction for each student to insure they achieve their very best. In addition to the outstanding faculty each of our 4 studios has a specially engineered dance floor to enhance the safety and performance of our dancers.<br>
            <br>
            <br>
            
            p Students at The Dance Academy have several opportunities and avenues to perform and perfect their skills throughout the year. We offer the option to participate with our competition teams, community outreach programs, our resident ballet company Chesapeake Ballet Company, Youth America Grand Prix and the Academy's annual performance showcase.<br>
            <br>
            <br>
            
            p   Click on the Contact Us link above or call us at (410) 544-3220 for more information.<br>
            <br>

            p  Noelle Reese<br>
            <br>

            p   Director<br>

