doctype html 
html 
    head 
        title Nikita Dance Academy
        block Scripts   
        block style 

    body 
        nav#navbar
            ul
                div#logo   
                    img(src="/static/img/girl.png")
                    | NDA

                li #[a(href="/") Home]
                li #[a(href="/about") About] 
                li #[a(href="/services") Services] 
                li #[a(href="/classInfo") Class info]
                li #[a(href="/#sponsorsSection") Our Sponsors]
                li #[a(href="/contact") Contact Us]


        
        
        block content 
            
        
        footer#footer
            | Copyright &copy; 2022 NikitaDanceAcademy.com | All rights reserved
