doctype html 
html
    head 
        title Nikita's Dance Academy
        style
            include ../static/style.css
    body 
        nav#navbar
            ul
                div#logo   
                    img(src="/static/img/girl.png")
                    | NDA

                li #[a(href="/") Home]
                li #[a(href="/") About] 
                li #[a(href="/") Services] 
                li #[a(href="/") Class info]
                li #[a(href="/") Our Sponsors]
                li #[a(href="/") Contact Us]


        
        section#introSection
            div Welcome to Nikita's Dance Academy 
            div.small Eat Sleep Dance Repeat

        section#missionSection
            h2 Our Mission
            div.card 
                h3 Dance Perfection
                div.card-box 
                    div.card-img
                        img(src="/static/img/boy.jpg")

                    div.card-content 
                        p This is best dance academy of the Universe


            div.card 
                h3 Dance the way you like
                div.card-box 
                    div.card-img
                        img(src="/static/img/boy1.jpg")

                    div.card-content 
                        p This is best dance academy of the Universe

                        

            div.card
                h3 Expert Teaching
                div.card-box 
                    div.card-img
                        img(src="/static/img/girl2.png")

                    div.card-content 
                        p This is best dance academy of the Universe

                        

        section#sponsorsSection
            h2 Our Sponsors

            div#sponsors 
                img(src="/static/img/apple-logo.webp", alt="Sponsors Image" class="spImage")
                img(src="/static/img/hp-logo.jpg", alt="Sponsors Image" class="spImage")
                img(src="/static/img/microsoft.jpg", alt="Sponsors Image" class="spImage")
                img(src="/static/img/skype.png", alt="Sponsors Image" class="spImage")


        div.container4
            div#logo
                img(src="/static/img/girl.png")
                p NDA

                div.box1
                    h3 Dance Classes
                    ul
                        li Contemporary
                        li Jazz Funk
                        li Hip hop
                        li Blogs

                div.box2
                    h3 Get in Touch
                    ul
                      
                        img(src="/static/img/location.svg", alt="", srcset="")
                        |    Rose Manor High School, Central avenue Road, Santacruz West.
                        br

                        img(src="/static/img/phone.svg", alt="", srcset="")
                        |  +91 7375006833

                        br
                        img(src="/static/img/email.svg", alt="", srcset="")
                        |  info@ssda.in

                div.box3
                    h3 Social Connect
                    ul
                        li #[a(href="https://www.linkedin.com/in/nikita-sakunde-0b3413225/") #[img(src="/static/img/in.png", alt="", srcset="")]]

                        li #[a(href="https://www.codechef.com/users/nikita755") #[img(src="/static/img/codechef2.jpg", alt="", srcset="")]]

                        li #[a(href="https://github.com/Nikitasakunde")]#[img(src="/static/img/github.png", alt="", srcset="")]




        footer#footer
            | Copyright &copy; 2022 NikitaDanceAcademy.com | All rights reserved



        script  
            include ../static/index.js